/* Container.module.css */
.container {
    min-height: 100vh;
    padding: 1em 2em 3em;
    max-width: 100%;
    margin: 0 auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* Estilos específicos de fundo para cada página */
.bgLogin {
    background-image: url('../../assets/imgs/bglogin1.png');
}

.bgRegister {
    background-image: url('../../assets/imgs/bgregister1.png');
}
