/* Container.module.css */

.container {
    min-height: 100vh;
    padding: 1em 2em 3em;
    max-width: 100%;
    margin: 0 auto;
    background-size: cover; /* Ajusta para cobrir completamente o container */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat;
}

/* Estilos específicos de fundo para cada página */
.bgLogin {
    background-image: url('../../assets/imgs/bglogin1.png');
}

.bgRegister {
    background-image: url('../../assets/imgs/bgregister1.png');
}

/* Media Queries para Responsividade */

@media (max-width: 768px) {
    .container {
        padding: 0.5em 1em 2em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0.5em 0.5em 1em;
    }
}
