.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background: #98C93E;
    color: #FFFFFF;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 100px;
    margin-right: .8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li, 
.navbar a {
    text-decoration: none;
    color:#FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #93B93D;
    color: #fff;
}

.navbar li:hover > a {
    color: #fff;
}

/* Media Query para Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }

    .navbar_logo {
        margin-bottom: 1em;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar li {
        margin-bottom: 0.5em;
    }
}
